@use "../abstracts/variables" as *;

.diffCat {
  border-bottom: 1px solid $clr-accent-green;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-inline: 1rem;
  padding-block: 1rem 0.75rem;
  padding-left: 0.5rem;
  position: relative;
  text-align: left;

  #btn-new-quest {
    border: 1px solid $clr-accent-green;
    border-radius: 10px;
    height: calc(100% - 2rem);
    margin-block: 0.75rem;
    min-height: 3.5rem;
    padding-block: 0.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
    width: 60px;

    span {
      display: block;
      font-size: 0.85rem;
      margin-block: 0.25rem;
    }
  }
  .category {
    line-height: 1.3;
    max-width: 30ch;
  }
  span {
    font-size: 1.125rem;
    font-weight: 700;
  }
}
