@use "../abstracts/variables" as *;

body {
  max-width: 375px;
  margin-inline: auto;
  background-color: $clr-body-bg;
}

main {
  position: relative;
  overflow-x: clip;
}

.brain-pic {
  width: 525px;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-51%);
  z-index: -1;
  opacity: 0.3;
}
