@use "../abstracts/variables" as *;
body {
  background-color: $clr-body-bg;
  margin-inline: auto;
  max-width: 375px;
}
main {
  position: relative;
}
.brain-pic {
  opacity: 0.2;
  position: absolute;
  top: 10rem;
  transform: translateX(-50%);
  width: 525px;
  z-index: -1;

  @media screen and (width < 525px) {
    width: 100%;
  }
}
