@use "../abstracts/variables" as *;

.message-wrapper {
  position: relative;
  margin-inline: 1rem;
  background: $clr-btn-bg;
  padding-bottom: 0.75rem;
  display: none;
  border-radius: 20px;

  .message {
    position: relative;
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 700;
    margin-top: 0.25rem;
    padding-top: 0.5rem;
    color: $clr-msg-correct;
    border-radius: 20px;
  }

  .message-line-2 {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    display: none;
  }

  .icon {
    display: none;
    width: 2rem;
    position: absolute;
    top: 0.75rem;
  }

  .icon-cor,
  .icon-inc {
    left: 2.25rem;
    z-index: 5;
  }

  .icon-hand-good,
  .icon-hand-bad {
    right: 2.25rem;
  }

  .icon-hand-good {
    top: 0.5rem;
  }

  .icon-cor {
    filter: hue-rotate(-40deg) brightness(0.9);
  }

  .message-wrong {
    color: $clr-msg-incorrect;
  }

  .display {
    display: block;
  }
}
