@use "../abstracts/variables" as *;
.message-wrapper {
  background: $clr-btn-bg;
  border-radius: $btn-border-radius;
  display: none;
  margin-inline: auto;
  padding-bottom: 0.75rem;
  position: relative;
  width: 85%;

  .message {
    border-radius: $btn-border-radius;
    color: $clr-msg-correct;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 0.25rem;
    padding-top: 0.5rem;
    position: relative;
  }
  .message-line-2 {
    display: none;
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
  .icon {
    display: none;
    position: absolute;
    top: 0.75rem;
    width: 2rem;
  }
  .icon-cor,
  .icon-inc {
    left: 1.5rem;
  }
  .icon-hand-good,
  .icon-hand-bad {
    right: 1.5rem;
  }
  .icon-hand-good {
    top: 0.5rem;
  }
  .icon-cor {
    filter: hue-rotate(-40deg) brightness(0.8);
  }
  .message-wrong {
    color: $clr-msg-incorrect;
  }
  .display {
    display: block;
  }
}
