* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --accent-clr: hsl(171, 100%, 35%);
  --accent-clr-2: rgb(212, 67, 212);
}

body {
  text-align: center;
  font-family: monospace, sans-serif;
  max-width: 375px;
  margin-inline: auto;
  background-color: rgb(245, 242, 242);
}

.diffCat {
  padding-block: 1rem 0.75rem;
  padding-left: 0.5rem;
  display: flex;
  gap: 0.25rem;
  border-bottom: 1px solid var(--accent-clr);
  flex-direction: column;
  margin-inline: 1rem;
  text-align: left;
  position: relative;
}

.category {
  line-height: 1.5;
  max-width: 30ch;
}

span {
  font-size: 1.125rem;
  font-weight: bold;
}

.question {
  margin: 0.75rem 1rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.answers {
  width: 85%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.correct {
  outline: 3px solid rgba(0, 255, 0, 0.75);
}
.incorrect {
  outline: 3px solid rgba(255, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.3);
}

button {
  cursor: pointer;
  border-radius: 20px;
  margin-block: 0.5rem;
  padding-block: 1.5rem;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid var(--accent-clr-2);
  color: inherit;
}

.message {
  position: relative;
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 700;
  margin-top: 0.25rem;
  padding-top: 0.5rem;
  color: green;
  border-radius: 20px;
  /* min-height: 3.5rem; */
}

/* .message-line-2 {
} */

#btn-new-quest {
  margin-block: 0.75rem;
  width: 60px;
  height: calc(100% - 2rem);
  border-radius: 10px;
  padding-block: 0.5rem;
  border: 1px solid var(--accent-clr);
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  min-height: 3.5rem;
}

#btn-new-quest span {
  display: block;
  font-size: 0.85rem;
  margin-block: 0.25rem;
}

.brain-pic {
  width: 525px;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-51%);
  z-index: -1;
  opacity: 0.3;
}

.message-wrong {
  color: red;
}

.msg-wrapper-wrong {
  box-shadow: 1px 1px 5px rgba(255, 0, 0, 0.2);
  outline: 1px solid rgba(255, 0, 0, 0.2);
}

.msg-wrapper-correct {
  box-shadow: 1px 1px 5px rgba(0, 255, 0, 0.3);
  outline: 1px solid rgba(0, 255, 0, 0.3);
}

.icon {
  display: none;
  width: 2rem;
  position: absolute;
  top: 0.75rem;
}

.icon-cor,
.icon-inc {
  left: 2.25rem;
  z-index: 5;
}

.icon-hand-good,
.icon-hand-bad {
  right: 2.25rem;
}

.icon-hand-good {
  top: 0.5rem;
}

.icon-cor {
  filter: hue-rotate(-40deg) brightness(0.9);
}

.message-wrapper {
  position: relative;
  margin-inline: 1rem;
  background: rgba(255, 255, 255, 0.7);
  padding-bottom: 0.75rem;
  display: none;
}

.message-line-2 {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  display: none;
}

.display {
  display: block;
}
