@use "../abstracts/variables" as *;

button {
  cursor: pointer;
  border-radius: 20px;
  margin-block: 0.5rem;
  padding-block: 1.5rem;
  background: $clr-btn-bg;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid $clr-accent-pink;
  color: inherit;

  span {
    letter-spacing: 2px;
  }
}
