@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.correct {
  outline: 3px solid $clr-btn-correct;
}
.incorrect {
  color: rgba(0, 0, 0, 0.3);
  outline: 3px solid $clr-btn-incorrect;
}

.msg-wrapper-wrong {
  @include msg-wrapper($clr-msg-wrapper-incorrect);
}

.msg-wrapper-correct {
  @include msg-wrapper($clr-msg-wrapper-correct);
}
